:root {
  --black: #000000;
  --darkest: #333333;
  --darker: #1a5e63;
  --medium: #236192;
  --lighter: #6f263d;
  --lightest: #a2aaad;
  --white: #f3f3f3;
}

.navBar {
  background-color: var(--medium);
  color: var(--white);
}

.navLinks a {
  text-decoration: none;
  color: var(--white);
}

.navLinks a:hover {
  color: var(--lightest);
  border: solid 1px var(--lightest);
  transition: all 0.2s ease-in-out;
}

.navLinks a:focus {
  color: var(--white);
  border: solid 1px var(--white);
  transition: all 0.4s ease-in-out;
}

main {
  background-color: var(--white);
}

footer {
  background-color: var(--medium);
  color: var(--white);
}

.contact {
  background-color: var(--lighter);
  color: var(--darkest);
}

.myTeams {
  background-color: var(--white);
  color: var(--darkest);
}

.news {
  color: var(--darkest);
}

.form {
  background-color: var(--lighter);
  color: var(--white);
}

#news a {
  text-decoration: none;
  color: var(--lighter);
}

#news a:hover {
  color: var(--darker);
  transition: all 0.4s ease-in-out;
}

.removeBtn {
  width: 100%;
  border: none;
}

.removeBtn:hover {
  background-color: var(--lighter);
  color: var(--white);
  transition: all 0.4s ease-in-out;
}

#demoBtns button {
  background-color: var(--medium);
  color: var(--white);
  font-size: 95%;
  transition: all 0.4s ease-in-out;
}

#demoBtns button:hover {
  background-color: var(--lighter);
  font-size: 100%;
  transition: all 0.4s ease-in-out;
}

#modalHeader {
  background-color: var(--lighter);
  color: var(--white);
}

#dismiss {
  color: var(--white);
}

.customBtn {
  background-color: var(--medium);
  color: var(--white);
  transition: all 0.4s ease-in-out;
}
.customBtn:hover {
  background-color: var(--lighter);
  transition: all 0.4s ease-in-out;
}

#addTeam {
  font-size: 115%;
  background-color: var(--lighter);
  color: var(--white);
  transition: all 0.4s ease-in-out;
}
#addTeam:hover {
  font-size: 115%;
  background-color: var(--medium);
  border: solid 2px var(--lighter);
  transition: all 0.4s ease-in-out;
}
